<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mapper.ChapterMapper">

    <resultMap id="BaseResultMap" type="com.edu.dao.Chapter">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="courserId" column="courser_id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,courser_id,title,
        sort,update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from chapter
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <select id="searchAllByCourserId" resultMap="BaseResultMap">
        select * from chapter where courser_id=#{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from chapter
        where  id = #{id,jdbcType=INTEGER} 
    </delete>

    <delete id="delByCourserId">
        delete from chapter where courser_id=#{id}
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.edu.dao.Chapter" useGeneratedKeys="true">
        insert into chapter
        ( id,courser_id,title
        ,sort,update_time)
        values (#{id,jdbcType=INTEGER},#{courserId,jdbcType=INTEGER},#{title,jdbcType=VARCHAR}
        ,#{sort,jdbcType=INTEGER},#{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.edu.dao.Chapter" useGeneratedKeys="true">
        insert into chapter
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="courserId != null">courser_id,</if>
                <if test="title != null">title,</if>
                <if test="sort != null">sort,</if>
                <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="courserId != null">#{courserId,jdbcType=INTEGER},</if>
                <if test="title != null">#{title,jdbcType=VARCHAR},</if>
                <if test="sort != null">#{sort,jdbcType=INTEGER},</if>
                <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.edu.dao.Chapter">
        update chapter
        <set>
                <if test="courserId != null">
                    courser_id = #{courserId,jdbcType=INTEGER},
                </if>
                <if test="title != null">
                    title = #{title,jdbcType=VARCHAR},
                </if>
                <if test="sort != null">
                    sort = #{sort,jdbcType=INTEGER},
                </if>
                   update_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.edu.dao.Chapter">
        update chapter
        set 
            courser_id =  #{courserId,jdbcType=INTEGER},
            title =  #{title,jdbcType=VARCHAR},
            sort =  #{sort,jdbcType=INTEGER},
            update_time =  #{updateTime,jdbcType=TIMESTAMP}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
